@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row">
    <div id="outerDiv">
        <div id="content">

            <div id="logo">
                <a title="Log On" href="/">
                    <img src="~/css/images/logo.svg" alt="Logo" />
                </a>
            </div>

            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group divEmail">
                    <input asp-for="Input.Email" placeholder="Email"/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>


                <div class="form-group divPass">
                    <input asp-for="Input.Password" placeholder="Password"/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
